In [1]:
import bs4
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd

In [16]:
url = "https://seekingalpha.com/symbol/BDIY:IND/historical-price-quotes#"

In [17]:
driver = webdriver.Chrome()
driver.get(url)

html = driver.page_source
soup = BeautifulSoup(html)

In [67]:
#print(soup.prettify())

In [51]:
title = soup.title.string

In [61]:
title = title[0:title.index("(") - 1]

In [62]:
title = title+".xlsx"

In [63]:
title

'Baltic Dry Futures.xlsx'

In [64]:
df = pd.read_html(html)[0]

In [65]:
df

             Date       Open       High        Low      Close Change %
0    Sep 10, 2021  $3,864.00  $3,864.00  $3,864.00  $3,864.00   6.07 %
1    Sep 09, 2021  $3,643.00  $3,643.00  $3,643.00  $3,643.00   0.69 %
2    Sep 08, 2021  $3,618.00  $3,618.00  $3,618.00  $3,618.00  -2.40 %
3    Sep 07, 2021  $3,707.00  $3,707.00  $3,707.00  $3,707.00  -3.01 %
4    Sep 06, 2021  $3,822.00  $3,822.00  $3,822.00  $3,822.00  -3.09 %
..            ...        ...        ...        ...        ...      ...
245  Sep 18, 2020  $1,296.00  $1,296.00  $1,296.00  $1,296.00   0.15 %
246  Sep 17, 2020  $1,294.00  $1,294.00  $1,294.00  $1,294.00   1.01 %
247  Sep 16, 2020  $1,281.00  $1,281.00  $1,281.00  $1,281.00  -0.62 %
248  Sep 15, 2020  $1,289.00  $1,289.00  $1,289.00  $1,289.00   0.55 %
249  Sep 14, 2020  $1,282.00  $1,282.00  $1,282.00  $1,282.00      NaN

[250 rows x 6 columns]

In [66]:
df.to_excel(title)

In [23]:
driver.quit()